/*******************************/
/********* General CSS *********/
/*******************************/
body {
    color: #797979;
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    color: #1d2434;
}
a {
    color: #454545;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: #D5B981;
    outline: none;
    text-decoration: none;
}
/***Upper Contact information and Servise summarry and Download Page Name-position Part style ***/
.btn:focus,
.form-control:focus {
    box-shadow: none;
}

.container-fluid {
    max-width: 1366px;
}

/************ Page Upper Button CSS **************/
.back-to-top {
    position: fixed;
    display: none;
    background: #D5B981;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 9;
}
.back-to-top:hover {
    background: #1d2434;
}

.back-to-top:hover i {
    color: #D5B981;
}

.back-to-top i {
    color: #1d2434;
    padding-top: 10px;
}

/**********************************/
/********** Top Bar CSS ***********/
/**********************************/
.top-bar {
    position: relative;
    height: 60px;
    background: #1d2434;
}
.top-bar .top-bar-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.top-bar .top-bar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-bar .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60px;
    padding: 0 10px;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .text:last-child {
    border-right: 1px solid rgba(255, 255, 255, .15);
}
/************** Upper Line position show from Background write  ***********/
.top-bar .text h2 {
    color: #eeeeee;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0;
}

.top-bar .text p {
    color: #eeeeee;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
}
.top-bar .social {
    display: flex;
    height: 60px;
    font-size: 0;
    justify-content: flex-end;
}
/********* Social Media Effect and Position  ************/ 
.top-bar .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 100%;
    font-size: 22px;
    color: #ffffff;
    border-right: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .social a:first-child {
    border-left: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .social a:hover {
    color: #D5B981;
    background: #ffffff;
}

@media (min-width: 992px) {
    .top-bar {
        padding: 0 60px;
    }
}

/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.navbar {
    position: relative;
    transition: .5s;
    z-index: 999;
}
.navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}
.navbar .navbar-brand {
    margin: 0;
    color: #ffffff;
    font-size: 45px;
    line-height: 0px;
    font-weight: 600;
}
.navbar .navbar-brand span {
    font-weight: 800;
}

.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 40px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    background: rgba(256, 256, 256, .1);
    transition: none;
}
/*********** Upper Page Drop down and then page color change and drop down menue bar *****/
.navbar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}
/************ Transparent meneu part ***********/
@media (min-width: 992px) {
    .navbar {
        position: absolute;
        width: 100%;
        top: 60px;
        padding: 20px 60px;
        background: rgba(0, 0, 0, .1) !important;
        z-index: 9;
    }
    
    .navbar.nav-sticky {
        padding: 10px 60px;
        background: #1d2434 !important;
    }
    
    .navbar a.nav-link {
        padding: 8px 15px;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}
/*********** End Transparent part ************/
@media (max-width: 991.98px) {   
    .navbar {
        padding: 15px;
        background: #1d2434 !important;
    }
    
    .navbar a.nav-link {
        padding: 5px;
    }
 /*************** Drop down Box Color *************/   
    .navbar .dropdown-menu {
        box-shadow: none;
    }
}


/******************************************************/
/********** Index Page OLD AGe content Down  CSS Code ***********/
/******************************************************/
.OLD-age-content {
    position: relative;
    width: 100%;
    margin-bottom: 45px;
    height: calc(100vh - 60px);
    background: #D5B981;
    overflow: hidden;
}
.OLD-age-content .container-fluid {
    padding: 0;
}

.OLD-age-content .OLD-age-content-image {
    position: relative;
    text-align: right;
}
.OLD-age-content .OLD-age-content-image img {
    max-width: 80%;
    max-height: 80%;
}

.OLD-age-content .OLD-age-content-text {
    position: relative;
    padding-left: 75px;
    height: calc(100vh - 60px);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.OLD-age-content .OLD-age-content-text h1 {
    color: #1d2434;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

.OLD-age-content .OLD-age-content-text p {
    color: #1d2434;
    font-size: 18px;
    margin-bottom: 25px;
}

.OLD-age-content .OLD-age-content-text .btn {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #1d2434;
    background: none;
    border: 2px solid #1d2434;
    border-radius: 0;
    transition: .3s;
}

.OLD-age-content.OLD-age-content-text .btn:hover {
    color: #D5B981;
    background: #1d2434;
}

/****************************************************************************/
/******************************* Play Button CSS Style *********************/
/***************************************************************************/

/*********** Create a White button Here CSS ****************/
.OLD-age-content .btn-play {
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 18px 20px 18px 28px;
}
/**************** End of Button ******************/
.OLD-age-content .btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #1D2434;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}
/*************** Black color of button end of code *****************/
.OLD-age-content .btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #1D2434;
    border-radius: 50%;
    transition: all 200ms;
}

.OLD-age-content .btn-play:hover:after {
    background-color: darken(#1D2434, 10%);
}

.OLD-age-content .btn-play img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
}
/********************** White tri-angle position in button ***************/
.OLD-age-content .btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid #ffffff;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}
/********************* Effect add Part  in Button ******************/
@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
////************
#videoModal .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto;
}

#videoModal .modal-body {
    position: relative;
    padding: 0px;
}

#videoModal .close {
    position: absolute;
    right: 0px;
    top: -12px;
    z-index: 999;
    font-size: 50px;
    font-weight: normal;
    color: #ffffff;
    opacity: 1;
}
************////
@media (max-width: 991.98px) {
    .OLD-age-content .OLD-age-content-text {
        padding-left: 15px;
    }
    
    .OLD-age-content .OLD-age-content-text h1 {
        font-size: 35px;
    }
    
    .OLD-age-content .OLD-age-content-text p {
        font-size: 16px;
    }
    
    .OLD-age-content .OLD-age-content-text .btn {
        padding: 12px 30px;
        font-size: 15px;
        letter-spacing: 0;
    }
}

@media (max-width: 991.98px) {
    .OLD-age-content .OLD-age-content-text {
        padding-left: 15px;
    }
    
    .OLD-age-content .OLD-age-content-text h1 {
        font-size: 35px;
    }
    
    .OLD-age-content .OLD-age-content-text p {
        font-size: 16px;
    }
    
    .OLD-age-content .OLD-age-content-text .btn {
        padding: 12px 30px;
        font-size: 15px;
        letter-spacing: 0;
    }
}

@media (max-width: 767.98px) {
    .OLD-age-content .OLD-age-content-text h1 {
        font-size: 30px;
        font-weight: 600;
    }
    
    .OLD-age-content .OLD-age-content-text p {
        font-size: 14px;
    }
    
    .OLD-age-content .OLD-age-content-text.btn {
        padding: 10px 25px;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0;
    }
}


@media (max-width: 575.98px) {
    .OLD-age-content .OLD-age-content-text h1 {
        font-size: 25px;
        font-weight: 600;
    }
    
    .OLD-age-content .OLD-age-content-text p {
        font-size: 14px;
    }
    
    .OLD-age-content .OLD-age-content-text .btn {
        padding: 8px 20px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0;
    }
}



/*******************************/
/******* Page Header CSS *******/
/*******************************/
.page-header {
    position: relative;
    margin-bottom: 45px;
    padding: 150px 0 90px 0;
    text-align: center;
    background: #D5B981;
}

.page-header h2 {
    position: relative;
    color: #1d2434;
    font-size: 60px;
    font-weight: 700;
}

.page-header a {
    position: relative;
    padding: 0 12px;
    font-size: 22px;
    color: #1d2434;
}

.page-header a:hover {
    color: #ffffff;
}

.page-header a::after {
    position: absolute;
    content: "/";
    width: 8px;
    height: 8px;
    top: -2px;
    right: -7px;
    text-align: center;
    color: #1d2434;
}

.page-header a:last-child::after {
    display: none;
}

@media (max-width: 767.98px) {
    .page-header h2 {
        font-size: 35px;
    }
    
    .page-header a {
        font-size: 18px;
    }
}

/****************************************/
/******* All Section Header CSS  ********/
/****************************************/
.section-header {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 45px;
}
.section-header p {
    margin-bottom: 5px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
}

.section-header h2 {
    margin: 0;
    position: relative;
    font-size: 50px;
    font-weight: 700;
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 30px;
    }
}

/************** Section Header End ************/



/*******************************/
/********** About CSS **********/  /* This Part of Contain Edit By [ Sharmin Sultana Sumi ] */
/*******************************/
.about {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.about .section-header {
    margin-bottom: 30px;
    margin-left: 0;
}

.about .about-img {
    position: relative;
    height: 100%;
    margin: 60px 0 0 60px;
}

.about .about-img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.about .about-img::before {
    position: absolute;
    content: "";
    top: -60px;
    right: 60px;
    bottom: 60px;
    left: -60px;
    background: #1d2434;
    z-index: 0;
}

.about .about-img::after {
    position: absolute;
    content: "";
    top: -30px;
    right: 30px;
    bottom: 30px;
    left: -30px;
    background: transparent;
    border: 1px solid #ffffff;
    z-index: 2;
}

.about .about-text p {
    font-size: 16px;
}

.about .about-text a.btn {
    position: relative;
    margin-top: 15px;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #1d2434;
    border: 2px solid #1d2434;
    border-radius: 0;
    background: none;
    transition: .3s;
}

.about .about-text a.btn:hover {
    color: #D5B981;
    background: #1d2434;
}

@media (max-width: 767.98px) {
    .about .about-img {
        margin-bottom: 30px;
        height: auto;
    }
}


/************* End of The About ****************/


/*******************************/
/********* Service CSS *********/  /************ This Part is Design By [Sharmin Sultana Sumi] ****/
/*******************************/
.service {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.service .service-item {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    background: rgba(29, 36, 52, .04);
}

.service .service-img {
    position: relative;
    width: 100%;
}

.service .service-img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service .service-img::after {
    position: absolute;
    content: "";
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    background: transparent;
    border: 1px solid #ffffff;
    z-index: 1;
}

.service .service-item h3 {
    margin: 0;
    padding: 25px 15px 15px 15px;
    font-size: 25px;
    font-weight: 700;
}

.service .service-item p {
    margin: 0;
    padding: 0 25px 25px 25px;
    font-size: 16px;
}

.service .service-item a.btn {
    position: relative;
    margin-bottom: 30px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #1d2434;
    border: 2px solid #1d2434;
    border-radius: 0;
    background: none;
    transition: .3s;
}

.service .service-item:hover a.btn {
    color: #D5B981;
    background: #1d2434;
    border-color: #1d2434;
}
/************* End of Part Servise CSS *********************/


/*******************************/
/********* Shop CSS *********/  /* This part contain edit by [ Rakibul islam Khan ] */
/*******************************/
.price {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.price .price-item {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 30px;
    background: rgba(29, 36, 52, .04);
    transition: .3s;
}

.price .price-item:hover {
    background: #D5B981;
}

.price .price-img {
    position: relative;
    width: 100px;
}

.price .price-img img {
    width: 100%;
}

.price .price-img::after {
    position: absolute;
    content: "";
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    background: transparent;
    border: 1px solid #ffffff;
    z-index: 1;
}

.price .price-text {
    position: relative;
    padding: 0 15px;
    width: calc(100% - 100px);
    overflow: hidden;
}

.price .price-text h2 {
    position: relative;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
}

.price .price-text h3 {
    position: relative;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}

/*********** End of shop CSS ***************/


/*******************************/
/*********** Team CSS **********/  /********** This part contain by  [Sharmin Sultana Sumi ] ************/
/*******************************/
.team {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.team .team-item {
    margin-bottom: 30px;
}

.team .team-img {
    position: relative;
}

.team .team-img::after {
    position: absolute;
    content: "";
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    background: transparent;
    border: 1px solid #F6F6F7;
    transition: .3s;
    z-index: 1;
}

.team .team-img img {
    width: 100%;
}

.team .team-text {
    position: relative;
    margin: -60px 15px 0 15px;
    padding: 30px 15px;
    text-align: center;
    background: #F6F6F7;
    transition: .3s;
    z-index: 2;
}

.team .team-text h2 {
    font-size: 16px;
    font-weight: 600;
}

.team .team-text p {
    margin: 0;
    color: #333333;
}

.team .team-item:hover .team-text {
    background: #D5B981;
}

.team .team-item:hover .team-img::after {
    border-color: #D5B981;
}


/*******************************/
/********* Contact CSS *********/  /************** This part complete by [Tanvir Rahman Bipul] ********/
/*******************************/
.contact {
    position: relative;
    width: 100%;
    margin: 45px 0;
    background: #1d2434;
}

.contact .container-fluid {
    background: url(../img/contact.jpg) left center no-repeat;
    background-size: contain;
}

.contact .contact-form {
    position: relative;
    padding: 90px 0 90px 45px;
    background: #1d2434;
}

.contact .contact-form input {
    padding: 15px 0;
    background: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #D5B981;
}

.contact .contact-form textarea {
    height: 90px;
    padding: 15px 0;
    background: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #D5B981;;
}

.contact .contact-form .btn {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #D5B981;
    background: none;
    border: 2px solid #D5B981;
    border-radius: 0;
    transition: .3s;
}

.contact .contact-form .btn:hover {
    color: #1d2434;
    background: #D5B981;
}

.contact .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media (max-width: 767.98px) {
    .contact .container-fluid {
        background: none;
    }
    
    .contact .contact-form {
        padding: 90px 0;
    }
}

/*******************************/
/******* Dopctor Part CSS *******/
/*******************************/
/*******************************/
.doctor {
    position: relative;
    margin: 45px 0;
    padding: 120px 0;
    background: linear-gradient(rgba(29, 36, 52, 1), rgba(29, 36, 52, .5), rgba(29, 36, 52, 1)), url(../img/testimonial-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.doctor .container {
    max-width: 700px;
}

.doctor .testimonials-carousel {
    position: relative;
    width: 100%;
}

.doctor .doctor-item {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
/********* Doctor Image Part **************/
.doctor .doctor-item img {
    width: 80px;
    border-radius: 70px;
    margin-bottom: 30px;
}

.doctor .doctor-item p {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 20px;
}

.doctor .doctor-item h2 {
    color: #D5B981;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.doctor .doctor-item h3 {
    color: #999999;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}


/************ Doctor Part CSS End *********************/




/*******************************/
/********* Footer CSS **********/
/*******************************/

/******* Color Charge and position ***********/
.footer {
    position: relative;
    margin-top: 45px;
    padding-top: 90px;
    background: #1d2434;
}
/******** Phone - Location - Massage ******/
.footer .footer-contact,.footer .footer-link,.footer .footer-newsletter {
    position: relative;
    margin-bottom: 45px;
    color: #999999;
}
/******** Haed section Footer part **********/
.footer .footer-contact h2,.footer .footer-link h2,.footer .footer-newsletter h2{
    position: relative;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 700;
    color: #D5B981;
}
.footer .footer-contact h2,.footer .footer-link h2,.footer .footer-newsletter h2{
    position: relative;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 700;
    color: #D5B981;
}

.footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    color: #999999;
    transition: .3s;
}

.footer .footer-link a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

/********* Quick Link Hover Effect **********/
.footer .footer-link a:hover {
    color: #D5B981;
    letter-spacing: 1px;
}

.footer .footer-contact p i {
    width: 25px;
}

.footer .footer-social {
    position: relative;
    margin-top: 20px;
}

.footer .footer-social a {
    display: inline-block;
}

.footer .footer-social a i {
    margin-right: 15px;
    font-size: 18px;
    color: #D5B981;
}

.footer .footer-social a:last-child i {
    margin: 0;
}

.footer .footer-social a:hover i {
    color: #999999;
}

.footer .footer-newsletter .form {
    position: relative;
    width: 100%;
}

.footer .footer-newsletter input {
    height: 60px;
    border: 2px solid #1d2434;
    border-radius: 0;
}
/*********** News Latter Submit Button CSS ***********/
.footer .footer-newsletter .btn {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 44px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #1d2434;
    background: none;
    border-radius: 0;
    border: 2px solid #1d2434;
    transition: .3s;
}
/************ Button Hover Effect CSS ***************/
.footer .footer-newsletter .btn:hover {
    color: #D5B981;
    background: #1d2434;
}
/*********** End part **********/

/********** Copyright And Design By CSS Hover ettect and color combination ***********/
.footer .copyright {
    padding: 0 30px;
}

.footer .copyright .row {
    background: #ffffff;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer .copyright p {
    margin: 0;
    color: #454545;
}

.footer .copyright .col-md-6:last-child p {
    text-align: right;
}

.footer .copyright p a {
    color: #1d2434;
    font-weight: 700;
}

.footer .copyright p a:hover {
    color: #D5B981;
}

@media (max-width: 767.98px) {
    .footer .copyright p,
    .footer .copyright .col-md-6:last-child p {
        margin: 5px 0;
        text-align: center;
    }
}

/******** End of Part ************/ 

/************ CSS File end ***********/
